$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-gray: #d3d3d3;
$black: #000;
$white: #fff;
$maroon: #800;
$light-red: #f33;

.grid-item {
  background-color: $light-gray;
  border: 1px solid $black;
  font-size: 20px;
  padding: 25px;
  text-align: center;
}

.grid-container {
  background-color: $black;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 330px;
  margin: 0 auto;
  padding: 1px;
  width: 350px;
}

body {
  background-color: $light-red;
  margin: 0 auto;
  text-align: center;
}

input {
  border-color: $maroon;
  border-radius: 4px;
  text-align: center;
  width: 150px;
}

button {
  background-color: $black;
  border-radius: 2px;
  color: $white;
}

h1 {
  color: $maroon;
}
